@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html, body{
  height: 100%;
  width: 100%;
}

body{
  overflow-x: hidden;
}

#page1{
  height: 100%;
  width: 100%;
  background-color: #252525;
}

#page2{
  height: 100%;
  width: 100%;
  background-color: #087f51;
  display: flex;
  align-items: center;
}

#page2 h1{
  font-size: 40vw;
  color:rgb(255, 255, 255);
  text-transform: uppercase;
  white-space: nowrap;
  width: max-content;
  line-height: 0.9;
}

#page3{
  height: 100%;
  width: 100%;
  background-color: #252525;
}
