@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: #111111ed;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cursor{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #ffffff;
    position: fixed;
    z-index: 99 ;
    font-size: 0.4vw;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#image{
    height: 400px;
    width: 700px;
    position: relative;
}

#overlay{
    height: 100%;
    width: 100%;
    background-color: transparent;
    position: absolute;
    z-index: 100;
}

#image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}